body {
	margin: 0px;
	background: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

#nav {
	padding: 4px;
	background: #F0F0F0;
	border-style: none none dashed none;
	border-color: #D0D0D0;
	border-width: 2px;
}

#main {
	padding: 8px;
}

p {
	padding: 0px 40px 0px 40px;
}


h3 {
	padding: 0px 10px 0px 10px;
}


#foot {
	padding: 4px;
	background: #F0F0F0;
	border-style: dashed none none none;
	border-color: #D0D0D0;
	border-width: 2px;
}

#foothard {
	padding: 4px;
	background: #F0F0F0;
	border-style: dashed none none none;
	border-color: #D0D0D0;
	border-width: 2px;
	position: absolute; bottom: 0px;
}

.src {
	font-family: CourierNew, Monospace, Courier;
	padding: 3px 60px 3px 60px;
	background: #F0F0F9;
	border-style: solid;
	border-color: #E0E0E7;
	border-width: 1px;
}
